@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
.container{
    background-color: #F5D04E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Figtree", sans-serif;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.child-div{
    border: 2px solid black;
    padding:2rem;
    background-color: white;
    width:375px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.date{
    /* border: 2px solid red; */
    margin-top: 1rem;
}
.learning{
    /* border: 2px solid red; */
    width:100px;
    background-color: #F4D152;
    margin-top: 2rem;
}
.learning a{
    color:black;
    text-decoration: none;
    padding:14px;
    /* font-weight:500; */
    font-weight: bold;
    font-size: 16px;
}
.heading{
    /* border: 2px solid red; */
    font-weight: 800;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.para{
    margin-top: 1rem;
}
.testinomial{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 1rem;
    gap:12px;
    
}
.image-div{
    /* border: 2px solid red; */
    width:300px;
}
.image-div img{
    width: 100%;
}